
<div class="main-wrapper">
  <ul>
    <li><a routerLink="/home" routerLinkActive="active-link">עמוד הבית</a></li>
    <li><a href="#" routerLinkActive="active-link">אודות</a>
      <ul class="dropdown">
        <li><a href="#">פרופיל חברה</a></li>
        <li><a href="#">הנהלה וצוות הבחרה</a></li>
        <li><a routerLink="/about">קוד איתי</a></li>
        <li><a href="#">אישואים ואבטחת איכות</a></li>
      </ul>
    </li>
    <li><a href="#" routerLinkActive="active-link">תחומי פעילות</a></li>
    <li><a href="#" routerLinkActive="active-link">מסופים</a></li>
    <li><a href="#" routerLinkActive="active-link">חדשות</a></li>
    <li><a href="#" routerLinkActive="active-link">יצירת קשר</a></li>
  </ul>
</div>

<div class="main-content">
    <app-inputs></app-inputs>
    <router-outlet></router-outlet>
</div>